body{
    padding: auto;
    margin: 0px;
}

button {
    color: #da7bf4;
    background-color: #242628;
    font-size: 19px;
    border: 2px solid #ff00ae;
    border-radius: 20px;
    padding: 15px 50px;
    letter-spacing: 1px;
    cursor: pointer
}

button:hover {

    color: #000000;
    background-color: #ffffff;
}
#MENUSITE {
    padding: 100px;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-image:url(img/mylivewallpapers-com-Samurai-Dragon-Slayer-4K.gif);
    background-position:  center;
    width: 100%;
    height: 20px;

}